.WheneverDrawer {
    position: fixed;
    bottom: 0;
	left: 50%;
    transform: translate(-50%, 100%);
    width: 33%;
    height: 100%;
    background: white;
    border: 1px solid;
    box-shadow: 0 0 10px 0;
    transition: transform .5s;
}

	.WheneverDrawer.active {
		transform: translate(-50%, 0);
	}