.ListTask {
	font-size: 10px;
}
	.ListTask-wrapper {
		width: 100%;
		text-align: left;
		padding: 10px 20px;
		transition: background .25s;
	}

		.ListTask-wrapper:hover,
		.ListTask-wrapper:focus {
			background: rgba(0, 0, 0, .1);
		}

		.ListTask-wrapper:active {
			box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, .25);
		}

	.ListTask-text {
	    float: left;
	    width: 100%;
		padding: 1em 5.35em 1em 0;
		font-size: 1.5em;
	}

	.ListTask-actions {
		float: left;
	    width: 8em;
	    height: 100%;
	    margin-left: -8em;
	}

		.ListTask-actions button {
			width: 3em;
			height: 3em;
			margin-left: 1em;
			margin-top: .75em;
		}
