.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}   
    .App-header {
        position: relative;
    }

        .App-buttons {
            position: absolute;
            right: 0;
            top: 0;
            padding: 20px;
        }

            .App-buttons button {
                margin-left: 20px;
                width: 50px;
                height: 50px;
            }

            .App-buttons_new {
                
            }

            .App-buttons_settings {
                
            }

        .App-clock {
            padding: 10px 20px;
            margin-bottom: 30px;
        }

    .App-lists {
        height: 100%;
        display: flex;
        overflow: hidden;
        flex-grow: 1;
    }

    .App-credits {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .25;
        font-size: 12px;
    }

        .App-credits a {
            color: inherit;
        }
