.TaskModal {

}

	.TaskModal-status {
	    margin: 50px 0;
	    text-align: center;
        font-size: 2em;
	}

		.TaskModal-status_wrapper {
		    display: inline-block;
		    text-align: right;
		}

			.TaskModal-status_wrapper i,
			.TaskModal-status_wrapper span {
    			display: inline-block;
			}

				.TaskModal-status_wrapper i.adjust {
				    transform: translate(.075em);
				}

			.TaskModal-status_persist{
				margin-bottom: .5em;
			}

			.TaskModal-status_wrapper span {
				vertical-align: top;
				margin-right: .5em;
			}

			.TaskModal-status_wrapper label {
				display: block;
			}

		.TaskModal-status svg {
			height: 1em;
			width: 1em;
		}

	.TaskModal-list {
		display: flex;
    	justify-content: space-around;
	}

		.TaskModal-list_item {
			width: 33%;
			flex-grow: 1;
		    margin: 0 .5em;
		}