/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start of Application Styles*/

/* App-wide resets */
* {
	box-sizing: border-box;
}

a,
button,
input[type=button] {
	cursor: pointer;
	background: none;
	font-size: inherit;
	color: inherit;
	font-weight: inherit;
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Share+Tech+Mono');

/*
 *	Primary Font: Roboto Condensed, 'Helvetica', sans-serif;
 *		(300, 400, 700);
 *	Secondart Font(mono): 'Share Tech Mono', monospace;
 *		(400)
 *
 * 1) Allow use of 100% screen height
 */

/* Helper Classes */

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.height-fix {
	min-height: 100%;
}

a.button,
button.button,
input.button {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

	a.button:empty,
	button.button:empty,
	input.button:empty {
		background-color: #555555;
	}
	
	a.button svg,
	button.button svg,
	input.button svg {
		transition: fill .25s;
	}
	
		a.button:hover svg,
		a.button:focus svg,
		button.button:hover svg,
		button.button:focus svg,
		input.button:hover svg,
		input.button:focus svg {
			fill: rgb(0, 0, 255);
		}
		
		a.button:active svg,
		button.button:active svg,
		input.button:active svg  {
			fill: rgba(0, 0, 255, .75);
		}

		a.button.selected svg,
		button.button.selected svg,
		input.button.selected svg  {
			fill: rgba(0, 255, 0, .75);;
		}

		a.button.error svg,
		button.button.error svg,
		input.button.error svg {
			fill: rgba(255, 0, 0, .75);;
		}

.single-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Main Body Styling */

html,
body,
#root {
	height: 100%; /* 1 */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', 'Helvetica', sans-serif;
  font-weight: 400;
  position: relative;
}

body.no-scroll {
	overflow: hidden;
}

/* Form Field Classes */
form {
	font-size: 16px;
}

form p.error {
	margin-top: .25em;
	color: rgba(255, 0, 0, .5);
	font-size: .75em;
}

input {
	border: 0;
	padding: 0;
	margin: 0;
	font-size: 20px;
	padding-bottom: .25em;
	border-bottom: 1px solid;
	width: 100%;
	color: inherit;
}

.radio {
	display: inline-block;
}

	.radio label {
		display: block;
		cursor: pointer;
	    text-align: center;
	}

	.radio input {
		display: none;
	}

		.radio input ~ span {
			display: block;
	    	padding: .5em 1em;
	    	border: 1px solid;
		}

			.radio label:hover span,
			.radio label:focus span,
			.radio input:checked ~ span {
				border-color: transparent;
				background:  rgba(0, 255, 0, .75);
			}

			.radio label:active span {
				background:  rgb(0, 255, 0);
			}

.checkbox {
	cursor: pointer;
}

	.checkbox input {
		display: none;
	}

	.checkbox svg {
		transition: fill .25s;
	}

	.checkbox:hover svg,
	.checkbox:focus svg {
		fill:  rgba(0, 0, 255, .75);
	}

	.checkbox:active svg {
		fill:  rgb(0, 0, 255);
	}

	.checkbox input:checked ~ svg {
		fill:  rgb(0, 255, 0);
	}
