/*
 * 1) grow each equally to fit space
 * 2) retain over-size to allow overflow
 */
.ListArray {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
}

	.ListArray-item {
	    width: 33%;
	    flex-grow: 1;/* 1 */
	    flex-shrink: 0;/* 2 */
	    padding: 20px 0;
	}

	.ListArray-item:nth-child(2) {
	    box-shadow: 0 0 10px 0;
	}

		.ListArray-item_title {
			text-align: center;
    		font-size: 50px;
    		opacity: .25;
    		margin-bottom: 20px;
		}

@media screen and (max-width: 991px) {
    .ListArray {
        left: -40%;
    }

	    .ListArray-item {
	        width: 60%;
	    }
}

@media screen and (max-width: 640px) {
    .ListArray {
        left: -62.5%;
    }

	    .ListArray-item {
	        width: 75%;
	    }
}